body {
    background-color: black;
    background-image: url(https://images.hdqwalls.com/wallpapers/gradient-geometry-background-abstract-lu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


