#center{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    margin: 0;
}

#ejercicios {
    position: absolute;
    inline
    flex-wrap: nowrap;
    
    justify-content: center;
    padding-top: 150px;
    width: 100vw;
    
    
    /* Add other styles as needed */
}

#header {
    position: fixed;
}
